@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f3f4f6;
}

body {
  background-color: var(--background);
}

@keyframes slideDown {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.slide-down {
  animation: slideDown 0.3s ease-out;
}

.fade-in {
  animation: fadeIn 0.3s ease-out;
}

.custom-shadow {
  box-shadow: 15px 14.5px 1px 1.5px #171717;
}

@layer base {}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

html {
  scroll-behavior: smooth;
}

.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}

#smooth-wrapper {
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#smooth-content {
  width: 100%;
  min-height: 100vh;
}